# Build
/build/
/dist/
/out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Config sensible
/config/application.properties
/src/ressources/config/application.properties
/out/*
nbproject/private/private.xml
